* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: auto 10px;
}

.drum-pads > button {
  margin: 2px 2px;
  font-size: 100px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #333;
  color: #333;
}

#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  background-color: grey;
  padding: 30px;
  flex-direction: column;
  border: 5px solid orange;
  margin-right: 30vw;
  margin-left: 30vw;
}

#display {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #333;
  color: #333;
  text-align: center;
  background-color: aqua;
}
